[Unit]
Description=Run Garmetix Epson Dot Matrix Spool Printer every 10 seconds

[Timer]
OnBootSec=30
OnUnitActiveSec=10
AccuracySec=2
Unit=garmetix-dotmatrix-spooler.service

[Install]
WantedBy=timers.target
